*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("place 2.jpg");
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}


header{
    width: 100%;
    padding: 12px;
    text-align: center;
    background-color: #000;
    position: relative;
    height: 70px;
}

header h2{
    margin-top: 5px;
}

.orange{
    color: #E36D01;
    font-weight: 900;
    font-size: 32px;
}

.white{
    color: #fff;
    font-weight: 900;
    font-size: 32px;
}

/* SEARCH BAR */
.search-container {
    position: absolute;
    right: 200px;
    top: 12px;
    background: #fff;
    padding: 8px 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 12px;
    width: 250px;
    height: 45px;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
}

.search-container input {
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%;
    background: none;
}

.searchiconpic {
    width: 30px;
    height: 22px;
}


.profcon {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 130px;
    top: 15px;
    border-radius: 50%;
    cursor: pointer;
}

/* SIDEBAR */
.slide{
    height: 100%;
    width: 260px;
    position: fixed;
    top: 0;             
    left: 0;
    background-color: #000;
    border-radius: 0 10px 10px 0;
}

.logo img{
    width: 40px;
    margin: 10px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.logo h1{
    color: #cb5b06;
    font-weight: 600;
    text-align: right;
    padding: 20px 0;
    padding-right: 30px;
    border-bottom: 1px solid #fff;
    font-size: 18px;
    margin-top: 0;
    padding-bottom: 28px;
}

ul li{
    list-style: none;
}

ul li a{
    color: #fff;
    font-weight: 500;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.3s ease-out;
    white-space: nowrap;
    font-size: 14px;
}

ul li a i{
    width: 24px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li:hover a,
ul li a.active{
    background-color: #cb5b06;
}

/* PROFILE + LOGOUT SA SIDEBAR */
.profile{
    position: absolute;
    color: #fff;
    bottom: 80px;
    left: 40px;
    font-size: 16px;
}

.logout{
    position: absolute;
    bottom: 40px;
    left: 80px;
    height: 32px;
    width: 90px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #cb5b06;
    padding-top: 5px;
    padding-left: 5px;
}

.logout-btn{
    text-decoration: none;
    color: #fff;
}

.logout:hover{
    background-color: #000;
}


.content{
    position: absolute;
    top: 140px;                   
    left: 350px;                         
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: calc(100% - 380px);
}

/* TITLE BOX */
.center-box {
    background-color: #191919;
    padding: 25px;
    border-radius: 20px;
    text-align: center;
}

.orange-text {
    color: #E36D01;
    font-size: 28px;
    font-weight: 700;
}

.white-text {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

/* TABLE CONTAINER */
.schedule-table-container {
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    padding: 15px 15px 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.schedule-table {
    width: 100%;
    border-collapse: collapse;
    color: white;
    font-size: 16px;
}

.schedule-table th,
.schedule-table td {
    border: 2px solid #fff;
    padding: 10px 12px;
    text-align: center;
}

.schedule-table th {
    background-color: #111;
    font-weight: 700;
    font-size: 18px;
}

/* ACTION BUTTONS SA TABLE */
.cancel-btn {
    background-color: #cb5b06;
    border: none;
    padding: 6px 14px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
}

.cancel-btn:hover {
    background-color: #ff7b00;
}

/* BACK BUTTON */
.back-btn-wrapper{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.setting-btn {
    background: #d45500;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.setting-btn:hover {
    background: #849180;
}

.setting-btn a {
    color: #ffffff;
    text-decoration: none;
    display: block;
}
