body{
    margin: 0;
    padding: 0;
    background-image: url(equipmentscopy.jpg);
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.navbar {
  background-color: hsl(0, 0%, 60%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 60px;
 
}


.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 50px;
  height: 50px;
}

.logo h1 {
  font-size: 24px;
  color: white;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  color: rgb(5, 1, 1);
  text-decoration: none;
  font-weight: bold;
}

.nav-links li a:hover {
  color: #f4a261; 
}

.red {
  color: hsl(0, 100%, 22%);
  font-weight: 900;
}

.black {
  color: black;
  font-weight: 900;
}

.CHOOSE-BOX {
padding: 60px;

}
.section-title {
font-size: 22px;
font-weight: bold;
color: orange;
margin-bottom: 20px;
}
.payment-buttons {
display: flex;
gap: 15px;
flex-wrap: wrap;
margin-bottom: 30px;
}
.payment-buttons button {
padding: 12px 25px;
border: none;
border-radius: 20px;
background: #000;
color: white;
font-weight: bold;
cursor: pointer;
transition: 0.2s;
}
.payment-buttons button.active,
.payment-buttons button:hover {
background: orange;
color: black;
}
.details-wrapper {
display: flex;
justify-content: space-between;
gap: 30px;
margin-top: 20px;
}
.card-box, .qr-box {
background: #222;
padding: 25px;
border-radius: 10px;
flex: 1;
}
.card-title, .qr-title {
color: orange;
font-size: 20px;
font-weight: bold;
margin-bottom: 20px;
}
.input-group {
margin-bottom: 20px;

}
.input-group input {
width: 95%;
padding: 12px;
border: none;
border-radius: 20px;
background: #000;
color: white;
}
.qr-img {
width: 230px;
height: 230px;
background: white;
display: block;
margin: auto;
}
