* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("trainerdashbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    padding: 12px;
    text-align: center;
    background-color: #191919;
    position: relative;
    height: 70px;
    z-index: 1;
}

header h2 {
    margin-top: 5px;
}

.search-container {
    position: absolute;
    right: 160px;
    top: 10px;
    background: #fff;
    padding: 8px 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 12px;
    width: 250px;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    height: 50px;
    z-index: 2;
}

.search-container input {
    border: none;
    outline: none;
    font-size: 14px;
    width: 100%;
    font-family: Arial, sans-serif;
}

.searchiconpic {
    width: 30px;
    height: 22px;
}

.profcon {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 100px;
    top: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.orange {
    position: absolute;
    color: #E36D01;
    font-weight: 800;
    font-size: 40px;
    left: 540px;
    top: 12px;
}

.white {
    position: absolute;
    color: #fff;
    font-weight: 800;
    font-size: 40px;
    left: 830px;
    top: 12px;
}

.center-box {
    position: absolute;
    width: 35%;
    left: 650px;
    top: 100px;
    background-color: #191919;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.orange-text {
    color: #E36D01;
    font-size: 30px;
    font-weight: 700;
}

.white-text {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}

.slide {
    height: 100%;
    width: 260px;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s ease;
    border-radius: 0 10px 10px 0;
    transform: translateX(0);
    z-index: 3;
}

.logo img {
    width: 40px;
    margin: 10px;
    position: absolute;
    left: 10px;
}

.logo h1 {
    color: #cb5b06;
    padding: 20px;
    padding-left: 65px;
    border-bottom: 1px solid #fff;
    font-size: 18px;
    padding-bottom: 28px;
    font-weight: 700;
    font-family: Arial, sans-serif;
}

ul li {
    list-style: none;
}

ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 20px;
    font-size: 15px;
    font-weight: 500;
    font-family: Arial, sans-serif;
}

ul li a i {
    width: 40px;
    text-align: center;
    font-size: 18px;
}

ul li:hover a {
    background: #cb5b06;
}

input[type="checkbox"] {
    display: none;
}

input:checked ~ .slide {
    transform: translateX(0);
}

input:checked ~ .toggle {
    transform: translateX(0);
}

.common {
    height: 2.4px;
    width: 15px;
    background: #cb5b06;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.top-line {
    top: 5px;
}

.middle-line {
    top: 10px;
}

.bottom-line {
    top: 15px;
}

input:checked ~ .slide {
    transform: translateX(0);
}

input:checked ~ .toggle {
    transform: translateX(0);
}

input:checked ~ .toggle .middle-line {
    opacity: 0;
}

input:checked ~ .toggle .top-line {
    transform: translateX(-50%) rotate(45deg);
    top: 10px;
}

input:checked ~ .toggle .bottom-line {
    transform: translateX(-50%) rotate(-45deg);
    top: 10px;
}

.logout {
    position: absolute;
    bottom: 40px;
    left: 60px;
    background: #cb5b06;
    padding: 10px 20px;
    border-radius: 5px;
}

.logout:hover {
    background: #000;
}

.logout-btn {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    font-family: Arial, sans-serif;
}

.MySchedBox {
    position: absolute;
    top: 250px;
    left: 550px;
    width: 160px;
    height: 40px;
    background-color: #222;
    border-radius: 20px;
    padding: 10px;
    color: #fff;
}

.myschedtext {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.schedule-table-container {
    position: absolute;
    top: 300px;
    left: 450px;
}

.schedule-table {
    width: 900px;
    border-collapse: collapse;
    background-color: rgba(0,0,0,0.7);
    color: white;
    font-size: 18px;
}

.schedule-table th,
.schedule-table td {
    border: 2px solid #fff;
    padding: 12px 15px;
    text-align: center;
}

.schedule-table th {
    background-color: #111;
    font-weight: 700;
    font-size: 20px;
}

.cancel-btn {
    background-color: #cb5b06;
    border: none;
    padding: 8px 18px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.cancel-btn:hover {
    background-color: #ff7b00;
}

.clients-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 250px;
    margin-left: 400px;
}

.client-card {
    width: 420px;
    background: rgba(0,0,0,0.7);
    border-radius: 25px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    color: white;
    backdrop-filter: blur(4px);
}

.client-name {
    font-size: 20px;
    font-weight: 700;
}

.progress-label {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.progress-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 8px solid #ff8500;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
}

.progress-circle.purple {
    border: 8px solid #cba8ff;
}

.performance-container {
    position: absolute;
    top: 250px;
    left: 450px;
    display: grid;
    grid-template-columns: 480px 480px;
    gap: 30px;
}

.performance-card,
.comments-card,
.improvement-card,
.analytics-card {
    background: rgba(0,0,0,0.7);
    padding: 25px;
    border-radius: 25px;
    color: white;
    backdrop-filter: blur(5px);

}

.card-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}

.performance-circle {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 10px solid #ff8500;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    margin: auto;
    font-weight: bold;
}

.comments-table {
    width: 100%;
    border-collapse: collapse;
}

.comments-table th,
.comments-table td {
    border: 1px solid #fff;
    padding: 10px;
    font-size: 14px;
    text-align: center;
}

.comments-table th {
    background: #111;
}

.improvement-box {
    width: 100%;
    height: 150px;
    background: rgba(255,255,255,0.1);
    color: white;
    border-radius: 12px;
    padding: 10px;
    border: 1px solid #fff;
    resize: none;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.bar-row {
    margin-bottom: 20px;
}

.bar-row span {
    font-size: 15px;
}

.bar {
    width: 100%;
    height: 12px;
    background: #333;
    border-radius: 10px;
    margin-top: 5px;
}

.bar div {
    height: 12px;
    background: #ff8500;
    border-radius: 10px;
}

.toggle {
    position: absolute;
    left: 225px;
    top: 31px;
    transform: translateY(-50%);
    width: 30px;
    height: 24px;
    cursor: pointer;
    z-index: 4;
}
