*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(place\ 2.jpg);
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
.search-container {
    position: absolute;
    right: 200px;
    top: 5px;
    background: #fff;
    padding: 8px 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 12px;
    width: 250px;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    height: 35px;
    z-index: 9999;
    
}
.search-container input {
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%; 
}
.search-container i {
    font-size: 22px;
    color: hsl(0, 0%, 0%);
    cursor: pointer;
}

.searchiconpic {
    position: absolute;
    width: 45px;
    height: 40px;
    right: -50px;
    top: -2px;
}
.searchiconpic1{
    position: absolute;
    height: 45px;
    width: 50px;
    bottom: 10px;
    left: 20px;
}
input [type="checkbox"]{
    display: none;
}
h2{
    position: absolute;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #000000;
    height:7.5%;
}
.orange{
    font-size: 30px;
    color: #E36D01;
    font-weight: 800;
} 
.white{
    font-size: 30px;
    color: #fff;
    font-weight: 800;
}
.paragraph{
    position: absolute;
    background-color: #191919;
    border-radius: 10px;
    text-align: center;
    left: 490px;
    bottom: 50px;
    padding: 10px 15px 10px 15px;
    margin: 10px;
}
.slide{
    height: 100%;
    width: 260px;
    position: fixed;
    background-color: #000;
    transition: 0.5s ease;
    border-radius: 10px;
    gap: 20px;
    /* transform: translateX(-260px); */
}
.logo h1{
    color: #cb5b06;
    font-weight: 600;
    text-align: right;
    padding: 10px 0;
    padding-right: 30px;
    pointer-events: none;
    border-bottom: 1px solid #fff;
    font-size: 20px;
}
.logo img{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5px;
    left: 10px;
}
ul li{
    list-style: none;
}
ul li a{
    color: #fff;
    font-weight: 500;
    padding: 20px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.3s ease-out;
}
ul li a .active{
    background-color: #cb5b06;
}
ul li a i{
    width: 40px;
    text-align: center;
}
ul li:hover a{
    background-color: #cb5b06;
}
input{
    display: none;
    visibility: hidden;
}
/* .toggle{
    position: absolute;
    height: 20px;
    width: 20px;
    top: 12px;
    left: 233px;
    z-index: 1;
    cursor: pointer;
    border-radius: 5px;
    background: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: translateX(-220px);
    transition: 0.5s ease;

}  */
.toggle .common{
    position: absolute;
    height: 2px;
    width: 10px;
    border-radius: 50px;
    background-color: #cb5b06;
    transition: 0.3s ease;
}
.toggle .top-line{
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.toggle .middle-line{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.toggle .bottom-line{
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
input:checked ~ .toggle .top-line{
    left: 0px;
    top: 10px;
    width: 20px;
    transform: rotate(45deg);
}
input:checked ~ .toggle .bottom-line{
    left: 0px;
    top: 10px;
    width: 20px;
    transform: rotate(-45deg);
}
input:checked ~ .toggle .middle-line{ 
    opacity: 0;
    transform: translateX(20px);
}
input:checked ~ .slide{
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
input:checked ~ .toggle{
    transform: translateX(0);
}
.logout{
    position: absolute;
    top: 550px;
    left: 80px;
    height: 32px;
    width: 70px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #cb5b06;
    padding-top: 5px;
    padding-left: 5px;

}
.logout-btn{
    text-decoration: none;
    color: #fff;
}
.logout:hover {
    background-color: #000;
}
.profile{
    position: absolute;
    color: #fff;
    bottom: 40px;
    left: 80px;
}
.panel{
    background-color: #191919;
    position: absolute;
    left:28%;
    width: 65%;
    height:75%;
    padding: 15px;
    color: white;
    font-size:  45px;
    text-align: center;
    border-radius: 20px;
    font: 600;
}
.member{
    top: 120px;
}

.table-container {
    width: 100%;
    height: 100%;
    background: #111;
    padding: 25px 20px 30px;
    border-radius: 12px;
    position: relative;
    color: #fff;
}

.add-btn {
    position: absolute;
    top: 12px;
    right: 15px;
    font-size: 22px;
    background: none;
    border: 2px solid white;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

th, td {
    border: 1px solid #bbb;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

th {
    font-weight: bold;
}

.setting-btn {
    background: #d45500;
    color: white;
    border: none;
    padding: 15px;
    margin-top:480px;
    margin-left:625px;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;

}

.setting-btn:hover {
    background: #849180;
}

.setting-btn a {
    color: #ffffff;
    text-decoration: none;
}

.schedule-table-container {
            position: absolute;
            top: 300px;
            left: 250px;
        }

        .schedule-table {
            width: 900px;
            border-collapse: collapse;
            background-color: rgba(0, 0, 0, 0.7);
            color: white;
            font-size: 18px;
        }

        .schedule-table th,
        .schedule-table td {
            border: 2px solid #fff;
            padding: 12px 15px;
            text-align: center;
        }

        .schedule-table th {
            background-color: #111;
            font-weight: 700;
            font-size: 20px;
        }

        .table2-container {
            position: absolute;
            top: 300px;
            left: 250px;
        }

        .table2 {
            width: 900px;
            border-collapse: collapse;
            background-color: rgba(0, 0, 0, 0.7);
            color: white;
            font-size: 18px;
        }

        .table2 th,
        .table2 td {
            border: 2px solid #fff;
            padding: 12px 15px;
            text-align: center;
        }

        .table2 th {
            background-color: #111;
            font-weight: 700;
            font-size: 20px;
        }

        .cancel-btn {
            background-color: #cb5b06;
            border: none;
            padding: 8px 18px;
            border-radius: 8px;
            color: white;
            font-weight: bold;
            cursor: pointer;
        }

        .cancel-btn:hover {
            background-color: #ff7b00;
        }
        .center-box {
    position: absolute;
    width: 71%;
    left: 210px;
    top: 100px;
    background-color: #191919;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
}

.orange-text {
    color: #E36D01;
    font-size: 30px;
    font-weight: 700;
}

.white-text {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}

    
