*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(place\ 2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

/* HEADER */

h2{
    position: absolute;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #000000;
    height: 7.5%;
}

.orange{
    font-size: 30px;
    color: #E36D01;
    font-weight: 800;
} 

.white{
    font-size: 30px;
    color: #fff;
    font-weight: 800;
}

/* SEARCH BAR */

.search-container {
    position: absolute;
    right: 200px;
    top: 5px;
    background: #fff;
    padding: 8px 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 12px;
    width: 250px;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    height: 35px;
    z-index: 999;
}

.search-container input {
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%; 
}

.search-container i {
    font-size: 22px;
    color: #000;
    cursor: pointer;
}

.searchiconpic {
    position: absolute;
    width: 45px;
    height: 40px;
    right: -50px;
    top: -2px;
}

/* SIDEBAR */

.slide{
    height: 100%;
    width: 260px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    border-radius: 0 10px 10px 0;
}

.logo h1{
    color: #cb5b06;
    font-weight: 600;
    text-align: right;
    padding: 10px 0;
    padding-right: 30px;
    pointer-events: none;
    border-bottom: 1px solid #fff;
    font-size: 20px;
    padding-bottom: 22px;
}

.logo img{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5px;
    left: 10px;
}

ul li{
    list-style: none;
}

ul li a{
    color: #fff;
    font-weight: 500;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.3s ease-out;
    white-space: nowrap;
    font-size: 14px;
}

ul li a i{
    width: 24px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li:hover a,
ul li a.active{
    background-color: #cb5b06;
}

.profile{
    position: absolute;
    color: #fff;
    bottom: 80px;
    left: 40px;
    font-size: 16px;
}

.logout{
    position: absolute;
    bottom: 40px;
    left: 80px;
    height: 32px;
    width: 90px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #cb5b06;
    padding-top: 5px;
    padding-left: 5px;
}

.logout-btn{
    text-decoration: none;
    color: #fff;
}

.logout:hover {
    background-color: #000;
}

/* CONTENT WRAPPER: para consistent sa ibang pages */

.content{
    position: absolute;
    top: 150px;              /* baba ng header */
    left: 300px;             /* katabi ng sidebar */
    width: calc(100% - 340px);
    display: flex;
    justify-content: center;
}

/* MAIN PANEL */

.panel{
    background-color: #191919;
    width: 420px;
    height: 220px;
    padding: 25px 20px;
    color: white;
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.setting-btn {
    background: #d45500;
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.setting-btn:hover {
    background: #849180;
}

.setting-btn a {
    color: #ffffff;
    text-decoration: none;
}
