*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("place 2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

header{
    width: 100%;
    padding: 12px;
    text-align: center;
    background-color: #191919;
    position: relative;
    height: 70px;
}

header h2{
    margin-top: 5px;
}

.orange{
    position: absolute;
    color: #E36D01;
    font-weight: 900;
    font-size: 40px;
    left: 655px;
    top: 10px;
}

.white{
    position: absolute;
    color: #fff;
    font-weight: 900;
    font-size: 40px;
    left: 780px;
    top: 10px;
}

.search-container {
    position: absolute;
    right: 200px;
    top: 12px;
    background: #fff;
    padding: 8px 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 12px;
    width: 250px;
    height: 50px;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
}

.search-container input {
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%;
    background: none;
}

.searchiconpic {
    width: 30px;
    height: 22px;
}

.profcon {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 130px;
    top: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.slide{
    height: 100%;
    width: 260px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    border-radius: 0 10px 10px 0;
}

.logo img{
    width: 40px;
    margin: 10px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.logo h1{
    color: #cb5b06;
    font-weight: 600;
    text-align: right;
    padding: 20px 0;
    padding-right: 30px;
    border-bottom: 1px solid #fff;
    font-size: 18px;
    margin-top: 0;
    padding-bottom: 28px;
}

ul li{
    list-style: none;
}

ul li a{
    color: #fff;
    font-weight: 500;
    padding: 15px 20px;
    display: flex;             
    align-items: center;        
    gap: 10px;                  
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.3s ease-out;
    white-space: nowrap;   
    font-size: 14px;      
}

ul li a i{
    width: 24px;             
    font-size: 20px;       
    display: flex;
    align-items: center;   
    justify-content: center;
}

ul li:hover a,
ul li a.active{
    background-color: #cb5b06;
}

.profile{
    position: absolute;
    color: #fff;
    bottom: 80px;
    left: 40px;
    font-size: 16px;
}

.logout{
    position: absolute;
    bottom: 40px;
    left: 80px;
    height: 32px;
    width: 90px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #cb5b06;
    padding-top: 5px;
    padding-left: 5px;
}

.logout-btn{
    text-decoration: none;
    color: #fff;
}

.logout:hover{
    background-color: #000;
}

.content{
    position: absolute;
    top: 120px;
    left: 350px;
    display: flex;
    gap: 30px;
}

.card,
.card2{
    background:#111;
    color:white;
    border-radius:20px;
    padding:25px;
    box-shadow:0 0 20px rgba(0,0,0,0.5);
}

.card{
    width:280px;
    height:250px;
    text-align:center;
}

.card2{
    width:600px;
    height:250px;
}

.card-title{
    font-size:22px;
    font-weight:700;
    margin-bottom:10px;
}

.circle{
    width:140px;
    height:140px;
    background: conic-gradient(orange 0deg, orange 270deg, #333 270deg);
    border-radius:50%;
    margin:20px auto;
    display:flex;
    justify-content:center;
    align-items:center;
}

.circle-inner{
    width:100px;
    height:100px;
    background:#111;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:35px;
    font-weight:bold;
}

.btn{
    background:orange;
    color:black;
    padding:10px 20px;
    border-radius:10px;
    display:inline-block;
    font-weight:bold;
    cursor:pointer;
}

.btn:hover{
    background:#fff;
}

.trow{
    margin:12px 0 5px 0;
    text-align:left;
    font-weight:bold;
    font-size:14px;
}

.bar-container{
    width:100%;
    background:#333;
    border-radius:10px;
    height:15px;
}

.bar-fill{
    height:100%;
    border-radius:10px;
    background:orange;
}

.trends{
    position: absolute;
    width:520px;
    left: 700px;
    top: 420px;
    background:#111;
    padding:25px;
    border-radius:20px;
    box-shadow:0 0 20px rgba(0,0,0,0.6);
    text-align:center;
    color:#fff;
}

.trends h1{
    font-size:24px;
    margin-bottom:5px;
}

.trends h2{
    font-size:14px;
    color:orange;
    margin-bottom:15px;
    background:#111;
    padding:0;
}

.chart-box{
    background:#3a3a3a;
    width:100%;
    height: 170px;
    border-radius:10px;
    padding:20px 50px;
    position:relative;
    display:flex;
    align-items:flex-end;
    gap:100px;
    justify-content:center;
}

.y-labels{
    position:absolute;
    left: 10px;
    top: 5px;
    font-weight:bold;
    color: #fff;
    font-size:12px;
}

.y-labels div{
    margin: 4px 0;
}

.bar{
    width:50px;
    background:linear-gradient(#ffae00, #cb1802);
    border-radius: 10px;
}

.bar1{ height:80px; }
.bar2{ height:120px; }

.bar-group{
    text-align:center;
    color:#fff;
    font-size:14px;
}

.x-label{
    margin-top:8px;
}
