body{
    margin: 0;
    padding: 0;
    background-image: url(equipmentbg.jpg);
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
.navbar {
  background-color: hsl(0, 0%, 60%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 60px;
 
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo img {
  width: 50px;
  height: 50px;
}
.logo h1 {
  font-size: 24px;
  color: white;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}
.nav-links li a {
  color: rgb(5, 1, 1);
  text-decoration: none;
  font-weight: bold;
}
.nav-links li a:hover {
  color: #f4a261; 
}
.red {
  color: hsl(0, 100%, 22%);
  font-weight: 900;
}
.black {
  color: black;
  font-weight: 900;
}
.muscletext{
    position: absolute;
    top: 20%;
    left: 80px;
    color: hsl(0, 100%, 34%);
    font-size: 60px;
    font-family: Dela Gothic One, sans-serif;  
}
.factorytext{
    position: absolute;
    top: 33%;
    left: 180px;
    color: hsl(26, 94%, 41%);
    font-size: 60px;
    font-family: Dela Gothic One, sans-serif;
}
.fitnessgymtext{
    position: absolute;
    top: 53%;
    left: 100px;
    color: hsl(0, 100%, 34%);
    font-family: Dela Gothic One, sans-serif;
    font-size: 40px;  
}
.login-box {
    position: absolute;
    top: 25%;
    right: 80px;
    width: 500px;
    height: 400px;
    background-color: rgba(15, 15, 15, 0.9);
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
    font-family: 'Poppins', sans-serif;
    color: white;
    overflow: hidden;
    left: 750px;
}
.login-tabs {
    display: flex;
    justify-content: space-around;
    background-color: hsl(0, 0%, 0%);
    padding: 12px 0;
}
.login-tabs .tab {
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    opacity: 0.8;
}
.login-tabs .tab.active {
    opacity: 1;
    border-bottom: 1px solid #f77f00;
}
.login-form {
    display: absolute;
    flex-direction: column;
    padding: 25px;
    gap: 15px;
}
.input-box {
    display: absolute;
    background-color: hsl(0, 0%, 0%);
    border: none;
    border-radius: 20px;
    padding: 12px 50px;
    color: hsl(0, 0%, 100%);
    font-size: 13px;
    outline: none;
    height: 45px;
    width: 350px;
    margin-top: 10px;
}
.input-box::placeholder {
    color: hsl(0, 0%, 47%);
}
.form-links {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin-top: 15px;
}
.form-links a {
    text-decoration: none;
    color: hsl(31, 100%, 48%);
    font-weight: bold;
}
.login-btn {
    position: absolute;
    background-color: black;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    padding: 12px;
    font-size: 15px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s;
    left: 160px;
    top: 270px;
    height: 70px;
    width: 200px;
}
.login-btn:hover {
    background-color: hsl(31, 100%, 48%);
    color: black;
}
.logout-btn {
    position: absolute;
    background-color: black;
    border: none;
    color: hsl(28, 90%, 49%);
    font-weight: bold;
    border-radius: 27px;
    padding: 12px;
    font-size: 12px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s;
    left: 1228px;
    top: 1px;
    font-family: dm-sans, sans-serif;
}

