body {
    margin: 0;
    padding: 0;
    background-image:
        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
        url(findaccountequipmentbg.jpg);
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}


.logo-container {
    margin-top: 40px;
    width: 100%;
}

.logo-img {
    width: 145px;
    position: absolute;
    left: 550px;
    top: 90px;
}



.forgot-container {
    position: absolute;
    width: 420px;
    background: rgba(0,0,0,0.50);
    padding: 40px 40px 35px;
    border-radius: 20px;
    top: 250px;      
    left: 50%;
    transform: translateX(-50%); 
    height: 280px;
}



.findacc-title {
    text-align: center;
    color: #ff7a1a;
    font-size: 26px;
    font-weight: 900;
    margin: 0 0 10px 0;
}

.findacc-subtitle {
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    margin: 0 0 25px 0;
}



.input-group {
    margin-bottom: 18px;
    position: absolute;
    left: 30px; 
}

.input-group input {
    width: 415px;
    padding: 14px;
    border: none;
    border-radius: 20px;
    background: #000;
    color: white;
    font-size: 14px;
    
}

.search-btn {
    position: absolute;
    background-color: black;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    padding: 12px;
    font-size: 15px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s;
    left: 140px;
    top: 220px;
    height: 70px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    

}

.search-btn:hover {
    background-color: hsl(31, 100%, 48%);
    color: black;
}



.muscletext {
    position: absolute;
    left: 700px;
    top: 80px;
    color: hsl(26, 80%, 45%);
    font-size: 25px;
    font-family: "Dela Gothic One", sans-serif; 
}

.factorytext {
    position: absolute;
    left: 690px;
    top: 120px;
    color: #ffffff;
    font-size: 25px;
    font-family: "Dela Gothic One", sans-serif; 
}

.resend-code {
    position: absolute;
    left: 280px;
    top: 185px;
    color: hsl(26, 80%, 45%);
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
    text-decoration: none;
}