body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(bg1.png);
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.navbar {
  background-color: hsl(0, 0%, 60%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 60px;
 
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 50px;
  height: 50px;
}

.logo h1 {
  font-size: 24px;
  color: white;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  color: rgb(5, 1, 1);
  text-decoration: none;
  font-weight: bold;
  font-size: 20 px;
}

.nav-links li a:hover {
  color: #ffffff; 
}

.red {
  color: hsl(0, 100%, 22%);
  font-weight: 900;
}

.black {
  color: black;
  font-weight: 900;
}

.contact-form {
    position: absolute;
    top: 150px;
    width: 350px;
    padding: 30px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    text-align: left;
    left: 600px;
}

.contact-form label {
    display: block;
    color: white;
    margin-bottom: 5px;
    font-size: 14px;
    letter-spacing: 1px;
}

.contact-form input,
.contact-form textarea {
    width:  90%;
    padding: 12px;
    margin-bottom: 15px;
    background: #3a3838;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 14px;
    outline: none;
}

.contact-form textarea {
    height: 120px;
    resize: none;
}

.contact-form button {
    width: 130px;
    padding: 12px;
    background: #3a3838;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 14px;
    cursor: pointer;
    display: block;
    margin: 20px auto 0 auto;
}

.contact-form button:hover {
    opacity: 0.6;
}