body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(bg1.png);
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.navbar {
  background-color: hsl(0, 0%, 60%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 60px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 50px;
  height: 50px;
}

.logo h1 {
  font-size: 24px;
  color: white;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  color: rgb(5, 1, 1);
  text-decoration: none;
  font-weight: bold;
  font-size: 20 px;
}

.nav-links li a:hover {
  color: #ffffff; 
}

.red {
  color: hsl(0, 100%, 22%);
  font-weight: 900;
}

.black {
  color: black;
  font-weight: 900;
}

.main-box {
    position: absolute; 
    top: 10%;
    right: 70px;
    width: 1100px;
    height: 825px;
    background-color: rgba(15, 15, 15, 0.9);
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
    font-family: Dela Gothic One, sans-serif;
    color: white;
    overflow: hidden;
    left: 230px;
    margin-top: 80px;
}

.grid-box1{
    display: absolute;
    background-color: hsl(0, 0%, 0%);
    border: none;
    border-radius: 20px;
    padding: 12px 50px;
    color: hsl(0, 0%, 100%);
    font-size: 13px;
    outline: none;
    height: 80px;
    width: 840px;
    margin-top: 37px;
    margin-left: 80px;
}

.grid-box2{
    display: absolute;
    background-color: hsl(0, 0%, 0%);
    border: none;
    border-radius: 20px;
    padding: 12px 50px;
    color: hsl(0, 0%, 100%);
    font-size: 13px;
    outline: none;
    height: 80px;
    width: 840px;
    margin-top: 25px;
    margin-left: 80px;
}

.grid-box3{
    display: absolute;
    background-color: hsl(0, 0%, 0%);
    border: none;
    border-radius: 20px;
    padding: 12px 50px;
    color: hsl(0, 0%, 100%);
    font-size: 13px;
    outline: none;
    height: 80px;
    width: 840px;
    margin-top: 25px;
    margin-left: 80px;
}

.grid-box4{
    display: absolute;
    background-color: hsl(0, 0%, 0%);
    border: none;
    border-radius: 20px;
    padding: 12px 50px;
    color: hsl(0, 0%, 100%);
    font-size: 13px;
    outline: none;
    height: 80px;
    width: 840px;
    margin-top: 25px;
    margin-left: 80px;
}

.grid-box5{
    display: absolute;
    background-color: hsl(0, 0%, 0%);
    border: none;
    border-radius: 20px;
    padding: 12px 50px;
    color: hsl(0, 0%, 100%);
    font-size: 13px;
    outline: none;
    height: 80px;
    width: 840px;
    margin-top: 25px;
    margin-left: 80px;
}

.grid-box6{
    display: absolute;
    background-color: hsl(0, 0%, 0%);
    border: none;
    border-radius: 20px;
    padding: 12px 50px;
    color: hsl(0, 0%, 100%);
    font-size: 13px;
    outline: none;
    height: 80px;
    width: 840px;
    margin-top: 25px;
    margin-left: 80px;
}

.text-1{
    position: absolute;
    top: 4%;
    left: 10%;
    color: hsl(26, 100%, 38%);
    font-family: Dela Gothic One, sans-serif;
}

.text-2{
    position: absolute;
    top:20%;
    left: 10%;
    color: hsl(26, 100%, 38%);
    font-family: Dela Gothic One, sans-serif;
}

.text-3{
    position: absolute; 
    top:35%;
    left: 10%;
    color: hsl(26, 100%, 38%);
    font-family: Dela Gothic One, sans-serif;
}

.text-4{
    position: absolute;
    top:51%;
    left: 10%;
    color: hsl(26, 100%, 38%);
    font-family: Dela Gothic One, sans-serif;
}

.text-5{
    position: absolute;
    top:67%;
    left: 10%;
    color: hsl(26, 100%, 38%);
    font-family: Dela Gothic One, sans-serif;
}

.text-6{
    position: absolute;
    top:82%;
    left: 10%;
    color: hsl(26, 100%, 38%);
    font-family: Dela Gothic One, sans-serif;
}
